{% extends 'base.html' %} {% block title %} Landing {% endblock title %}
{% block content %}
<h1>Hello, World</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, accusantium
  porro quo velit fugit possimus a ullam laborum quae dolorem exercitationem ut
  deleniti magni pariatur earum totam blanditiis odio ratione consectetur qui
  voluptatibus tenetur placeat saepe laboriosam. Assumenda, consectetur illo
  omnis et quo, quia, facilis nesciunt qui rerum in beatae?
</p>
{% endblock content %}